.new_username {
  margin-bottom: 20px;
  font-size: 1rem;
  color: grey;
}

.h1_color,
.username_color {
  color: black;
  font-weight: 500;
}

.error {
  color: red;
  margin-top: 10px;
}

label {
  font-size: 1rem;
  margin-right: 10px;
  color: black;
}

.marge_d {
  margin-right: 10px;
}

.edit-buttons {
  padding-left: 50px;
  padding-right: 50px;
}
