.new_username {
  margin-bottom: 20px;
  font-size: 1rem;
  color: grey;
  width: 9%;
  padding: 2px;
}

.h1_color,
.username_color {
  color: black;
  font-weight: 400;
}

.error {
  color: red;
  margin-top: 10px;
}

label {
  font-size: 1rem;
  margin-right: 10px;
  color: black;
}

.marge_d {
  margin-right: 10px;
}

.edit-buttons {
  padding-left: 30px;
  padding-right: 30px;
}
