.account.dark-bg {
  background-color: #333;
  color: white;
}

.account-details {
  margin-top: 1rem;
}

.transaction-button.transparent-bg {
  background-color: transparent;
  border-color: transparent;
}

.large-icon {
  font-size: 4rem;
  margin-left: 85%;
}
