// Définition des variables
$font-size-default: 1rem;
$font-size-large: 2.5rem;
$font-size-medium: 1.25rem;
$font-size-small: 1.7rem;
$color-white: white;
$color-dark: #3d3d3d;
$margin-default: 0.5rem;
$margin-left-default: 10px;
$padding-default: 1rem;
$border-radius-default: 5px;
$font-weight-bold: bold;
$font-weight-normal: normal;

// Styles généraux
.account-amount {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

.account-amount-description,
.account-title,
.account-amount {
  margin: 0;
}

.account-title {
  padding: 0;
  font-size: $font-size-default;
  font-weight: $font-weight-normal;
}

.account-content-wrapper {
  width: 100%;
  flex: 1;
}

.account-title {
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
}

.account-amount,
.account-description {
  margin: $margin-default 0;
}

// Mode editing
.account_editing {
  background-color: $color-dark;
  color: $color-white;
  padding: $padding-default;
  border: none;
  border-radius: $border-radius-default;
  width: 70%;
}

.edit-button {
  margin-left: $margin-left-default;
}

.arrow_right {
  color: $color-white;
  position: absolute;
  right: 17%;
  margin-top: -30px;
  font-size: 4.5rem;
  display: none;
}

.account_editing .arrow_right {
  display: block;
}

// Mobile
@media (min-width: 375px) and (max-width: 767.99px) {
  .account_editing {
    width: 80%;
  }
  .account-amount {
    font-size: $font-size-small;
  }

  .account-amount-description,
  .account-title {
    font-size: $font-size-default;
  }

  .arrow_right {
    font-size: 3rem;
    margin-top: -68px;
  }

  .account {
    width: 85%;
  }
}
