.transaction-summary {
  position: relative;
  background-color: #00bc77;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  width: 77%;
  margin: 0 auto 15px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.6s ease-in-out both;
  animation: slide-bottom 0.6s ease-in-out both;
}

.transaction-header {
  position: relative;
  color: white;
  width: 77%;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// En-têtes
.marge_r_date {
  position: absolute;
  left: 2%;
}

.marge_r_description {
  position: absolute;
  left: 19%;
}

.marge_r_amount {
  position: absolute;
  right: 33%;
}

.marge_r_balance {
  position: absolute;
  right: 13%;
}

.marge_r_amount,
.marge_r_balance,
.marge_r_date,
.marge_r_description {
  margin-top: -15px;
}

// Transaction description

.transaction-date {
  position: absolute;
  left: 2%;
  margin-top: -12px;
}
.transaction-description {
  position: absolute;
  left: 18%;
}

.transaction-amount {
  position: absolute;
  right: 35%;
}

.transaction-balance {
  position: absolute;
  right: 15%;
}

.transaction-date,
.transaction-description,
.transaction-amount,
.transaction-balance {
  margin-top: 12px;
}

// Chevron icon

.chevron-icon {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  margin-left: 125%;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
}

// Styles pour le mode editing
.transaction-container.editing {
  .transaction-summary {
    width: 68%;
  }

  .transaction-header {
    width: 68%;
    color: black;
  }
}

// Tablette
@media (min-width: 768px) and (max-width: 1023.99px) {
  .marge_r_amount {
    right: 30%;
  }

  .marge_r_balance {
    right: 11%;
  }
}

@media (min-width: 375px) and (max-width: 767.99px) {
  .transaction-summary {
    width: 75%;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
  }

  .transaction-header {
    width: 75%;
    font-size: 0.7rem;
  }

  .marge_r_amount {
    right: 30%;
  }

  .marge_r_balance {
    right: 10%;
  }
}
