main {
    display: block;
    unicode-bidi: isolate;
}

.main {
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bg-dark {
    background-color: #12002b;
}

.circle_user_login_bk {
    background-color: #2e4052;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.marge_r_userlogin {
    margin: 0 auto;
}

.user_icon_login {
    width: 14px;
    height: 14px;
}

.sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
    font-weight: normal;
}
