.transaction-details {
    background-color: #00bc77;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    width: 77%;
    margin: -15px auto 15px auto;

    // Mode editing
    &.editing {
        width: 68%;
    }
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.6s ease-in-out both;
    animation: slide-bottom 0.6s ease-in-out both;
}

.transaction_detail_row {
    display: flex;
    align-items: center;
    margin: 5px 0;
    position: relative;
    width: 100%;

    p {
        margin: 0;
        &:first-child {
            margin-right: 10px;
            font-weight: bold;
        }
    }
}

// Positionnement des valeurs
.marge_r_type,
.marge_r_category,
.marge_r_note {
    position: absolute;
    left: 17.5%;
}

.edit-icon_pencil {
    color: white;
    font-size: 0.8rem; // Taille réduite
    margin-left: 8px;
}

// Tablette
@media (min-width: 768px) and (max-width: 1023.99px) {
    .marge_r_type,
    .marge_r_category,
    .marge_r_note {
        left: 25%;
    }
}

// Mobile
@media (min-width: 375px) and (max-width: 767.99px) {
    .transaction-details {
        width: 75%;
        font-size: 0.7rem;
    }

    .marge_r_type,
    .marge_r_category,
    .marge_r_note {
        left: 37%;
    }
}
