// Définition des variables
$primary-color: #61b37b;
$secondary-color: #2c3e50;
$white-color: #fff;
$font-size-default: 1rem;
$font-size-small: 0.875rem;
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-weight-bold: bold;
$font-weight-normal: 500;
$margin-default: 10px;
$padding-default: 5px;
$padding-horizontal: 20px;
$padding-circle: 3px;
$border-radius-circle: 50%;
$icon-size-default: 20px;
$icon-size-small: 10px;
$icon-size-large: 30px;
$icon-size-medium: 50px;
$icon-spacing-default: 10px;
$icon-spacing-small: 5px;

// Styles généraux
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-default $padding-horizontal;
}

.main-nav a,
.signout-spacing {
    font-weight: $font-weight-bold;
    color: $secondary-color;
}

.main-nav a.router-link-exact-active {
    color: $primary-color;
}

.main-nav-items {
    display: flex;
    align-items: center;
}

.main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;

    &:hover {
        text-decoration: underline;
    }
}

.main-nav-logo {
    display: flex;
    align-items: center;
}

.main-nav-logo-image {
    max-width: 100%;
    width: 200px;
}

.header {
    color: $white-color;
    margin-bottom: 2rem;
}

.username-spacing {
    margin-left: 2%;
}

// Edit mode
.edit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo_bank_l {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 13%;
    font-size: 1.5em;
    margin-left: 2%;
}

.user-info .fa,
.user-info .svg-inline--fa,
.main-nav-logo-settings {
    margin-right: $icon-spacing-default;
}

.user-info p,
.user-info i {
    margin-right: $margin-default;
}

.fa-gear,
.main-nav-logo-vault,
.edit-header,
.main-nav-logo-settings {
    color: $primary-color;
}

.icon-spacing {
    margin-right: $icon-spacing-default;
}

.main-nav-logo-vault {
    width: $icon-size-medium;
    height: 52px;
    margin-top: $padding-default;
    padding: $padding-default;
}

.weight_header {
    font-weight: $font-weight-normal;
    font-size: $font-size-large;
}

.circle-icon {
    background-color: $primary-color;
    color: $white-color;
    border-radius: $border-radius-circle;
    padding: $padding-circle;
    width: $icon-size-medium;
    height: $icon-size-medium;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-user {
    width: $icon-size-default;
    height: $icon-size-default;
    padding: $padding-default * 2;
}

.main-nav-logo-settings {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(80deg) brightness(90%) contrast(100%);
    width: $icon-size-large;
    height: 32px;
}

// Mobile
@media (min-width: 375px) and (max-width: 767.99px) {
    .main-nav-logo {
        margin-left: -6%;
    }

    .main-nav-items {
        margin-left: 1%;
    }

    .signout-spacing {
        font-size: $font-size-small;
    }

    // Edit mode
    .edit-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo_bank_l {
        display: flex;
        align-items: center;
        margin-left: 1%;
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-right: 1%;
        font-size: 1em;
    }

    .user-info .fa,
    .user-info .svg-inline--fa,
    .main-nav-logo-settings {
        margin-right: $icon-spacing-small;
    }

    .user-info p,
    .user-info i {
        margin-right: $icon-spacing-small;
    }

    .fa-gear,
    .main-nav-logo-vault,
    .edit-header,
    .main-nav-logo-settings {
        color: $primary-color;
    }

    .icon-spacing {
        margin-right: $icon-spacing-small;
    }

    .main-nav-logo-vault {
        width: $icon-size-small * 2;
        height: $icon-size-small * 2.2;
        margin-top: $padding-default;
        padding: $padding-default / 2;
    }

    .weight_header {
        font-weight: $font-weight-normal;
        font-size: $font-size-medium;
    }

    .circle-icon {
        padding: $padding-circle;
        width: $icon-size-small * 2;
        height: $icon-size-small * 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-user {
        width: $icon-size-small;
        height: $icon-size-small;
        padding: $padding-default;
    }

    .main-nav-logo-settings {
        filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(80deg) brightness(90%) contrast(100%);
        width: $icon-size-small * 2;
        height: $icon-size-small * 2.2;
    }
}
